Interface_Wrath/FrameXML/Localization.lua
Interface_Wrath/GlueXML/GlueLocalization.lua
Interface_TBC/FrameXML/Localization.lua
Interface_TBC/GlueXML/GlueLocalization.lua
Interface_Vanilla/FrameXML/Localization.lua
Interface_Vanilla/GlueXML/GlueLocalization.lua
Interface/AddOns/Blizzard_Calendar/Localization.lua
AddOns/Blizzard_LoadLocale/LoadLocale.lua
